.container {
  width: 690px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;


  h1 {
    font-size: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    input {
      color: var(--gray-900);
      width: 35rem;
      height: 3rem;
      border-radius: 7px;
      padding: 1rem;

      font-size: 1.5rem;
      border: 3px solid var(--green-700);
      outline: none;
    }

    input[type="text"]:focus {
      border: 3px solid var(--green-300);
    }

    button {
      width: 7rem;
      height: 3rem;
      border-radius: 7px;

      background: var(--green-500);
      color: var(--white);

      transition: 0.2s;
    }

    button:disabled {
      background: var(--red-500);
      cursor: not-allowed;
    }

    button:hover:enabled {
      background: var(--green-300);
    }
  }
}

@media(max-width: 1000px) {
  .container {
    width: 400px;
    display: flex;
    flex-direction: column;

    h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;

      input {
        width: 22rem;
      }

      button {
        width: 100%;
      }
    }
  }
}